._3AAGHC{position:relative;width:84px;height:84px;margin:450px 592px}
@media only screen and (min-width:768px){._3AAGHC{width:90px;height:90px}}@media only screen and (min-width:1024px)and
 (min-height:770px){._3AAGHC{margin:30px auto}}



._2tMl3Z{font-family:SangbleuSans,Helvetica,Arial,sans-serif;line-height:1em;font-weight:500;font-size:15px;
    font-size:1vw;position:absolute;display:-webkit-flex;display:flex;-webkit-justify-content:center;
    justify-content:center;-webkit-align-items:center;align-items:center;width:84px;height:84px;
    background-image:url("https://static.moooi.com/static/images/nav-button.png");background-size:cover;
    background-repeat:no-repeat;background-color:#010101;color:#fff;line-height:17px;
    letter-spacing:.1em;text-transform:uppercase;box-shadow:3px 0 10px rgba(31,31,31,.2);
    border-radius:50%;-webkit-transform:translateY(0);transform:translateY(0);
    transition:transform .2s cubic-bezier(.165,.84,.44,1),color .1s cubic-bezier(.445,.05,.55,.95)}
    @media(max-width:1500px){._2tMl3Z{font-size:15px}}@media(min-width:1500px){._2tMl3Z{font-size:15px}}
    .webp ._2tMl3Z{background-image:url("https://static.moooi.com/static/images/nav-button.webp")}
    ._2tMl3Z span{-webkit-transform:translateZ(0);transform:translateZ(0)}@media only screen and (min-width:768px)
    {._2tMl3Z{width:90px;height:90px}}._2tMl3Z._3gfWxA,._2tMl3Z:focus-visible{-webkit-transform:translateY(2px);transform:translateY(2px)}
    @media only screen and (min-width:1024px){._2tMl3Z:hover{-webkit-transform:translateY(2px);transform:translateY(2px)}}
    ._2tMl3Z:active{-webkit-transform:translateY(2px);transform:translateY(2px);
        transition:transform .1s cubic-bezier(.445,.05,.55,.95)}

._2chqNa{width:84px;height:84px;left:0;right:0;top:0;bottom:0;position:absolute;margin:auto;overflow:visible;overflow:initial;opacity:1;transition:opacity .35s ease-out}@media only screen and (min-width:768px){._2chqNa{width:90px;height:90px}}


._3IYmSN{opacity:0}

._14aBMl{fill:transparent;-webkit-transform-origin:50% 50%;transform-origin:50% 50%;transition:stroke-dashoffset 1s linear}
._2BBz_8{stroke:#fff;-webkit-transform:rotate(-90deg);transform:rotate(-90deg)}._14aBMl{stroke:rgba(31,31,31,.3)}


._14aBMl{fill:transparent;-webkit-transform-origin:50% 50%;transform-origin:50% 50%;transition:stroke-dashoffset 1s linear}
._2BBz_8{stroke:#fff;-webkit-transform:rotate(-90deg);transform:rotate(-90deg)}

